<div class="headernav clearfix">
  <div class="logo">
    {{@blog.title}} - {{@blog.description}}
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>
