<div class="headernav clearfix">
  <div class="logo">
    {{@blog.title}} - {{@blog.description}}
  </div>
  <ul>
    {{#foreach navigation}}
      <li><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
  </ul>
</div>
